<div class="row">
<div class="col-sm-8 col-sm-offset-2">

    <div id="form-container">

        <div class="page-header text-center">
            <h2>Tell Us All About You</h2>
            
            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref=".household"><span> </span> Household</a>
                <a ui-sref-active="active" ui-sref=".people"><span> </span> People</a>
                <a ui-sref-active="active" ui-sref=".vehicles"><span> </span> Vehicles</a>
            </div>
        </div>
        
        <form id="signup-form">

            <div id="form-views" ui-view></div>
        </form>

    </div>

    <pre>
        {{ formData }}
        <br>
        {{ person }}
        <br>
        {{ formData.people }}
    </pre>


</div>
</div>