<div class="row">
<div class="col-sm-8 col-sm-offset-2">

    <div id="form-container">


        <div class="page-header text-center">
            <h2>Tell Us All About You</h2>
            
            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref=".household"><span> </span> Household</a>
                <a ui-sref-active="active" ui-sref=".people"><span> </span> People</a>
                <a ui-sref-active="active" ui-sref=".vehicles"><span> </span> Vehicles</a>
                <a ui-sref-active="active" ui-sref=".finalize"><span> </span> Confirm</a>

            </div>
        </div>
        <div ng-if="errorMessage" class="alert alert-danger" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          Your data was rejected by the server, reason: {{errorMessage}}
        </div>
        
        <form id="signup-form">

            <div id="form-views" ui-view></div>
        </form>

    </div>


</div>
</div>