body                            { padding-top:20px; }

#form-container                { background:#cccccc; margin-bottom:20px;
    border-radius:5px; }
#form-container .page-header   { background:#aaaaaa; margin:0; padding:30px; 
    border-top-left-radius:5px; border-top-right-radius:5px; }

#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }

#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px; 
    border-radius:50%; }

#status-buttons a.active span   { background:#00BC8C; }